/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

header h1 {
    margin: 0;
    font-size: 1.5em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.car-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.car-card {
    background-color: #fff;
    padding: 15px;
    border: 2px solid transparent;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
    color: #333;
    transition: border-color 0.3s;
}

.car-card img {
    width: 100%;
    border-radius: 5px;
}

.car-card h3 {
    margin: 10px 0;
}

.car-card p {
    margin: 5px 0;
}

.car-card:hover {
    border-color: rgba(12, 12, 12, 0.442);
}

@media (min-width: 600px) {
    .car-card {
        width: calc(50% - 20px);
    }
}

@media (min-width: 900px) {
    .car-card {
        width: calc(33.333% - 20px);
    }
}

/* Styles pour la page de détails */
.car-detail {
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.car-detail img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 0 auto 20px;
    border-radius: 5px;
}

.car-detail h2 {
    font-size: 1.8em;
    margin: 10px 0;
}

.car-detail p {
    font-size: 1.1em;
    margin: 5px 0;
}

.img-car {
    width:500px;
}

.filter-block {
    margin-right: auto;
    margin-right: auto;
}