/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f8f8f8;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

ul,
li {
  list-style: none;
}

/* Navbar */
nav {
  background-color: #333;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.nav-links a:hover,
.nav-links .active a {
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: hsl(180, 100%, 50%);
}

.logo {
  color: #fff;
  font-size: 24px;
}

.logo a {
  color: #fff;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #c0bfc0;
}

/* Mobile Menu */
.menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-icon .bar {
  height: 3px;
  width: 25px;
  background-color: #fff;
  margin: 4px 0;
  transition: 0.4s;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    right: 0;
    height: 100vh;
    top: 80px;
    background-color: #333;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .nav-links li {
    margin: 20px 0;
  }

  .menu-icon {
    display: flex;
  }

  .menu-toggle:checked + .menu-icon + .nav-links {
    transform: translateX(0);
  }
}

/* Header Background */
.header-container {
  width: 100%;
  height: 400px;
  background-image: url("https://mmarzou.github.io/IT_Automobile/assets/images/header-bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container .header-content img {
  width: 100%;
  height: auto;
}

.header-title {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 4em;
}

/* Container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

/* Filters */
.filter-container {
  gap: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-section {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 20px;
  flex-direction: column;
}

.filter-header {
  margin: 10px;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
}

.filter-header h1 {
  font-size: 30px;
  font-weight: 600;
}

.filter-header img {
  width: 100%;
  height: auto;
  max-width: 470px;
  margin: 0 auto;
}

.search-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
}

.search-form .form-item:nth-child(7) {
  grid-column: span 2;
}

.search-form .search-button {
  grid-column: span 2;
}

.search-form .form-item,
.search-form .search-button {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
  border: none;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.form-item {
  background-color: #ffffff;
}

.form-item:hover {
  background-color: rgba(241, 241, 241, 0.8);
  cursor: pointer;
}

.search-form .search-button {
  background-color: #ffffff;
  color: black;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.search-button:hover {
  background-color: rgba(241, 241, 241, 0.8);
  transition: 0.3s ease;
}
/* Cartes */
.lien-carte :hover {
  text-decoration: underline;
}

.car-cards-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1%;
  margin: 20px;
}

.card {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  margin-top: 20px;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h3 {
  font-size: 18px;
  margin: 10px 0;
}

.card p {
  font-size: 14px;
  color: #555;
  margin: 5px 0;
}
@media (min-width: 767px) {
  .card {
    width: calc(25% - 10px);
  }
}

@media (max-width: 767px) {
  .car-cards-section {
    justify-content: center;
  }

  .card {
    margin-top: 20px;
    padding: 5px;
  }

  .card img {
    max-height: 100px;
  }
}

/* Car Details Container */
.detail_container {
  width: 80%;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.car-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.car-details img {
  width: 100%;
  max-width: 600px;
  object-fit: cover;
}

.car-info {
  width: 100%;
  border: 4px solid #d9d9d9;
  padding: 10px;
}

.car-info h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.car-info p {
  margin: 10px 0;
}

.price {
  font-size: 24px;
  color: #000;
  font-weight: bold;
}

.caracteristiques {
  margin-top: 20px;
  border: 4px solid #d9d9d9;
  padding: 10px;
}

.caracteristiques h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.caracteristiques p {
  line-height: 1.6;
}

/* Footer Styles */
footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 40px 0;
}

.social-media {
  margin-bottom: 20px;
}

.social-media p {
  margin-bottom: 15px;
}

.social-media a {
  margin: 0 10px;
  display: inline-block;
}

.social-media img {
  width: 24px;
  height: 24px;
}

.footer-links {
  margin-bottom: 20px;
}

.footer-links a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-copy p {
  margin: 0;
  font-size: 14px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .filter-section {
    flex-direction: column;
  }

  .search-form {
    grid-template-columns: 1fr;
  }

  .filter-header {
    text-align: center;
  }

  .filter-header img {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .car-details {
    flex-direction: row;
    align-items: flex-start;
  }

  .car-info {
    width: 50%;
  }

  .car-details img {
    width: 50%;
  }
}
